<%
    ###########################################################################
    #                                                                         #
    # TODO: This should not be in cosmosys, but in cosmosys_req.              #
    #       We need a callback.                                               #
    #                                                                         #
    rqstatefield = IssueCustomField.find_by_name('rqComplanceState')          #
    rqjustiffield = IssueCustomField.find_by_name('rqComplianceJustif')       #
    rqrefdocfield = IssueCustomField.find_by_name('rqComplianceDocs')         #
    #                                                                         #
    ###########################################################################
%>
<div class="compliancematrix">
  <table>
    <thead>
      <tr>
        <th>csID</th>
        <th>Chapter</th>
        <th>Subject</th>
        <th>Sta of Compl</th>
        <th>Justification</th>
        <th>RefDoc</th>
      </tr>
    </thead>
    <tbody>
<% @project.issues.each{|i| %>
      <tr>
<%
puts i.subject
if (i.csys.shall_draw) and not i.csys.is_chapter? then
    compl_state = i.custom_field_values.select{|a| a.custom_field_id == rqstatefield.id }.first
    compl_justif = i.custom_field_values.select{|a| a.custom_field_id == rqjustiffield.id }.first
    compl_refdocs = i.custom_field_values.select{|a| a.custom_field_id == rqrefdocfield.id }.first
%>
        <td><%= link_to i.csys.get_identifier, issue_path(i.id) %></td>
        <td><%= i.csys.chapter_str %></td>
        <td><%= i.subject %></td>
        <td><%= compl_state != nil ? compl_state.value.to_s : "" %></td>
        <td><%= compl_justif != nil ? textilizable(compl_justif.value.to_s) : "" %></td>
        <td>
          <div><%= compl_refdocs != nil and compl_refdocs.value != nil ? textilizable(i.csys.get_compdocs_table) : "" %></div>
        </td>
<%
end
%>
      </tr>
<% } %>
    </tbody>
  </table>
</div>
