<% splitted_url = request.fullpath.split('/issues')
root_url = request.base_url+splitted_url[0]
 %>
<%= stylesheet_link_tag 'cosmosys', plugin: 'cosmosys' %>
<div class="issue-content">
  <%= textilizable("### Identifier: "+ @issue.csys.get_identifier) %>
  <%= textilizable("### Workload %: "+ @issue.csys.vwloadpct.to_s) %>
  <button class="tablink" onclick="openIssueTab('Dependences', this, 'green')" id="defaultOpenTab">Dependences</button>
  <button class="tablink" onclick="openIssueTab('Hierarchy', this, 'green')">Hierarchy</button>
  <div id="Dependences" class="tabcontent">
  <%= textilizable(@issue.csys.show_depgraph(root_url)) %>
    <p style="color: blue;">Links for downloading GraphViz and SVG:</p>
  <p><%= link_to 'GV', { :controller => 'cosmosys_issues', :action => 'dep_gv', :format => 'gv'}, :method => :get %> 
<%= link_to 'SVG', { :controller => 'cosmosys_issues', :action => 'dep_gv', :format => 'svg'}, :method => :get %></p>
  </div>
  <div id="Hierarchy" class="tabcontent">
  <%= textilizable(@issue.csys.show_hiegraph(root_url)) %>
    <p style="color: blue;">Links for downloading GraphViz and SVG:</p>
  <p><%= link_to 'GV', { :controller => 'cosmosys_issues', :action => 'hie_gv', :format => 'gv'}, :method => :get %> 
<%= link_to 'SVG', { :controller => 'cosmosys_issues', :action => 'hie_gv', :format => 'svg'}, :method => :get %></p>  
  </div>
</div>
<%= javascript_include_tag 'cosmosys', :plugin => 'cosmosys' %>
