<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'cosmosys', :plugin => 'cosmosys' %>
  <%= stylesheet_link_tag 'cosmosys', :plugin => 'cosmosys', :media => "print" %>
<% end %>
<%
    # Helper functions ########################################################

    def truthy?(value, nilistrue = false)
      if (nilistrue and value == nil) then
        return true
      end
      options = [1, "1", true, "true", "t","yes","y"]
      return options.include?(value)
    end

    def calculate_heading(showchap, i)
      classdiv = i.csys.is_chapter? ? "cSysParentIssue" : "cSysIssue"

      chapstr = showchap ? i.chapter_str : ""

      chapstr += " " if showchap unless i.csys.is_chapter?

      chapstr += i.csys.get_identifier unless i.csys.is_chapter?

      chapstr += ':' if showchap

      return chapstr,classdiv
    end

    def calculate_complete_title(showchap, i, chapstr)
      if showchap then
        link_to chapstr, issue_path(i.id)
      else
        chapstr
      end
    end

    # Flag handling ###########################################################

    flags = {}
    # Reduce the atom list and store the value in the flags variable:
    # Txinto 2024-02-18 I've undertood this is the correct way to set the default values for the params
    [:chapnums].each {|key| flags[key] = truthy?(params[key], true)}
    [:depdiag, :status, :assigned].each {|key| flags[key] = truthy?(params[key], false)}
    #####################################################################################################
    #                                                                                                   #
    # TODO: This should not be in cosmosys, but in cosmosys_req.                                        #
    #       We need a callback.                                                                         #
    #                                                                                                   #
    [:rqtype, :rqlevel].each {|key| flags[key] = truthy?(params[key], true)}
    [:verif, :ration, :compl, :refdoc, :appldoc].each {|key| flags[key] = truthy?(params[key], false)}  #
    #                                                                                                   #
    #####################################################################################################

    ###########################################################################
    #                                                                         #
    # TODO: This should not be in cosmosys, but in cosmosys_req.              #
    #       We need a callback.                                               #
    #                                                                         #
    rqtracker = Tracker.find_by_name("rq")                                    #
    cftype = IssueCustomField.find_by_name("rqType")                          #
    cflevel = IssueCustomField.find_by_name("rqLevel")                        #
    cfvar = IssueCustomField.find_by_name("rqVar")                            #
    cfvalue = IssueCustomField.find_by_name("rqValue")                        #
    cfdepgraph = IssueCustomField.find_by_name("depGrahInReports")            #
    cfratio = IssueCustomField.find_by_name("rqRationale")                    #
    cfverif = IssueCustomField.find_by_name("rqVerif")                        #


    metadata_dict = {}
    cf = ProjectCustomField.find_by_name("csReportMetadata")
    if cf != nil then
      cv = @project.custom_values.find_by(custom_field_id: cf.id)
      if cv != nil then
        metadata_json = JSON.parse(cv.value)
        if (metadata_json != nil) then
          metadata_json.keys.each { |metadatum_key|

            metadatum_dict = {}
            # Setting the default visibility and labels
            metadatum_dict[:default_visibility] = false
            metadatum_dict[:label_to_display] = metadatum_key

            # Check if there is a descriptor, if parsed probably it will always exist something
            metadatum_descriptor = metadata_json[metadatum_key]
            if (metadatum_descriptor == nil) then
              puts "warning: No metadatum descriptor for " + metadatum_key
            else
              # obtaining visibility
              aux = metadatum_descriptor['visible']
              if (aux != nil) then
                metadatum_dict[:default_visibility] = aux
              end
              # obtaining label
              aux = metadatum_descriptor['label']
              if (aux != nil) then
                metadatum_dict[:label_to_display] = aux
              end
            end
            metadata_dict[metadatum_key] = metadatum_dict
          }
        end
      end
    end
    puts metadata_dict
    #                                                                         #
    ###########################################################################

%>
<%
# This is a recursive lambda that draws the items and their children.
draw_items = lambda {|item, recursion, current_level|
  chapstr, classdiv = calculate_heading(flags[:chapnums], item)
  title = item.subject

  ###########################################################################
  #                                                                         #
  # TODO: This should not be in cosmosys, but in cosmosys_req.              #
  #       We need a callback.                                               #
  #                                                                         #
  if (rqtracker != nil and item.tracker == rqtracker) then                  #
    thistype = item.custom_values.where(custom_field: cftype).first.value   #
    thistype = "<b>t</b>:"+thistype if thistype != nil and thistype.size > 0       #
                                                                            #
    thislevel = item.custom_values.where(custom_field: cflevel).first.value #
    thislevel = "<b>l</b>:"+thislevel if thislevel != nil and thislevel.size > 0   #
                                                                            #
    thisverif = item.custom_values.where(custom_field: cfverif).first.value #
    thisverif = "<b>v</b>:"+thisverif if thisverif != nil and thisverif.size > 0   #
                                                                            #
    thisvar = item.custom_values.where(custom_field: cfvar).first.value     #
    thisvar = "<b>var</b>:"+thisvar if thisvar != nil and thisvar.size > 0          #
                                                                            #
    thisvalue = item.custom_values.where(custom_field: cfvalue).first.value #
    thisvalue = "<b>val</b>:"+thisvalue if thisvalue != nil and thisvalue.size > 0  #
                                                                            #
    thisrationale = item.custom_values.where(custom_field: cfratio).first.value             #
                                                                            #
  end unless item.csys.is_chapter?                                          #
  #                                                                         #
  ###########################################################################
%>
<div class="<%= classdiv %>">
  <<%= if current_level + 1 > 6 then "span"; else "h" + (current_level + 1).to_s end %> class="heading_<%= current_level %>"><%= calculate_complete_title(flags[:chapnums], item, chapstr) %> <%= title %></<%= if current_level + 1 > 6 then "span"; else "h" + (current_level + 1).to_s end %>>
    <%                                                                                  #
  #######################################################################################
  #                                                                                     #
  # TODO: This should not be in cosmosys, but in cosmosys_req.                          #
  #       We need a callback.                                                           #
  #                                                                                     #
    if not (item.csys.is_chapter?) then                                                 #
    # TODO: if it is not a requirement, the status could be shown in a chapter          #
    if (flags[:status]) then                                                            #
    %>
    <b>s</b>:<%= item.status %>
    <%                                                                                  #
    end # status                                                                        #
    %>
    <%
    if (flags[:rqtype]) then                                                            #
    %>
    <%= sanitize thistype %>
    <%                                                                                  #
    end # rqtype                                                                        #
    %>
    <%
    if (flags[:rqlevel]) then                                                           #
    %>
    <%= sanitize thislevel %>
    <%                                                                                  #
    end # rqlevel                                                                       #
    %>
    <%                                                                                  #
    if (flags[:verif]) then                                                             #
    %>
    <%= sanitize thisverif %>
    <%                                                                                  #
    end # verif                                                                         #
    %>
    <div class="<%= classdiv %>descr"><%= textilizable item, :description %></div>
    <% #TODO: BEGIN check if there is a better way to solve https://csys.cosmobots.eu:8443/issues/6613 %>
    <br/>
    <% #TODO: END check if there is a better way to solve https://csys.cosmobots.eu:8443/issues/6613 %>
    <%                                                                                  #
    if (flags[:ration]) and (thisrationale.length > 0) then                             #
    %>
    <p><b>Rationale</b>:<br/>
    <div class="<%= classdiv %>ration"><%= textilizable(thisrationale)%></div>
    <% #TODO: BEGIN check if there is a better way to solve https://csys.cosmobots.eu:8443/issues/6613 %>
    <br/>
    <% #TODO: END check if there is a better way to solve https://csys.cosmobots.eu:8443/issues/6613 %>
    </p>
    <%                                                                                  #
    end # ration                                                                        #
    %>
    <%                                                                                  #
    if (flags[:compl]) then                                                             #
    %>
    <p><b>Compliance</b>:<br/></p>
    <%                                                                                  #
    end # compl                                                                         #
    %>
    <%                                                                                  #
    if (flags[:refdoc]) then                                                            #
    %>
    <p><b>RefDocs</b>:<br/></p>
    <%                                                                                  #
    end # refdoc                                                                    #
    %>
    <%                                                                                  #
    if (flags[:appldoc]) then                                                           #
    %>
    <p><b>ApplDocs</b>:<br/></p>
    <%                                                                                  #
    end # appldoc

    %>
    <%                                                                                  #
    # TODO: if it is not a requirement, the assigned could be shown in a chapter        #
    if (flags[:assigned]) then                                                          #
    %>
    <p> Showing the assigned </p>
    <%                                                                                  #
    end # assigned                                                                      #
    else # not(item.csys.is_chapter?)%>
    <div class="<%= classdiv %>descr"><%= textilizable item, :description %></div>
    <% #TODO: BEGIN check if there is a better way to solve https://csys.cosmobots.eu:8443/issues/6613 %>
    <br/>
    <% #TODO: END check if there is a better way to solve https://csys.cosmobots.eu:8443/issues/6613 %>
    <%                                                                                  #
    end # not(item.csys.is_chapter?)                                                    #
  #                                                                                     #
  #######################################################################################
    %>
    <%
    if (item.csys.shall_show_dependences?) then
      imagesrc = "/cosmosys_issues/"+item.id.to_s+"/dep_gv.svg"
      if flags[:depdiag] then
        show_this_image = false
        thisdepgraphflag = item.custom_field_values.select{|a| a.custom_field_id == cfdepgraph.id }.first
        if (thisdepgraphflag != nil) then
          if (thisdepgraphflag.value == nil) then
            thisdepgraphflag.value = cfdepgraph.default_value
            item.save
          end
          if (thisdepgraphflag.value == 'Include') then
            show_this_image = true
          else
            if (thisdepgraphflag.value == 'Include if has relations') then
              show_this_image = (item.relations.size > 0)
            end
          end
        else
          show_this_image = (item.relations.size > 0)
        end

        if (show_this_image) then
        %><figure><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></figure><%
        end
      end
    end

%>
<p>
<table style="width:50%;border-style:none !important;table-layout:auto">
<%                                                                                  #


if (metadata_dict != nil) then
  metadata_dict.keys.each { |metadatum_key|

    label_to_display = metadata_dict[metadatum_key][:label_to_display]
    default_visibility = metadata_dict[metadatum_key][:default_visibility]

    # parsing the key to know where to obtain the metadatum
    done = false

    if !done and metadatum_key == "assigned" then
      value_to_display = item.assigned_to
      if (value_to_display != nil) then
        value_to_display_str = value_to_display.name
      end
    end

    if !done and metadatum_key == "status" then
      value_to_display = item.status
      if (value_to_display != nil) then
        value_to_display_str = value_to_display.name
      end
    end

    if !done then
      # Maybe the value is a custom_value
      # cfi = IssueCustomField.find_by_name(metadatum_key)
      cvis = item.custom_field_values
      if (cvis != nil) then
        value_to_display = cvis.detect { |cvi| cvi.custom_field.name == metadatum_key }
        if (value_to_display != nil) then
          if value_to_display.value.kind_of?(Array) then
            value_to_display_str = value_to_display.value.join(', ')
          else
            value_to_display_str = value_to_display.value.to_s
          end


        end
      else
        puts "The issue " + item.id + ": " + item.subject + " does not have custom_field_values"
      end
    end
    if value_to_display_str != nil and value_to_display_str != "" then
    %>
    <tr>
    <th style="border-style:none !important;width:1px;white-space:nowrap"><%= label_to_display%></th>
    <td style="width:auto;border-style:none !important"><%= textilizable(value_to_display_str)%></td>
    </tr>
    <%
    end
  }
end

#
%>
</table></p>

</div><%
    excluded_titles = [
      "Applicable documents",
      "Reference documents",
      "Compliance documents",
      "Compliance matrix"
    ]
    if not excluded_titles.include?(item.subject) then
      item.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each {|subitem|
        recursion.(subitem, recursion,current_level+1)
      }
    else %>
      <%= render partial: "cosmosys/excluded_titles/" + item.subject.gsub(" ", "_").downcase, locals: { item: item } %>
    <%
    end
}
%>

<%= render partial: "cosmosys/report_toolbar", locals: { flags: flags } %>
<div class="<%= "cSysProject" %>">
  <% if flags[:chapnums] %><h1><%= @project.csys.code %>: <%= @project.name %></h1><% end %>
  <%
  roots = @project.issues.select{|obj| obj.parent == nil and obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}
    if roots.size == 0 then
      roots = @project.issues.select { |n| n.parent.project != @project and n.csys.shall_draw}
    end

    excluded_titles = [
      "Applicable documents",
      "Reference documents",
      "Compliance documents",
      "Compliance matrix"
    ]

    if not excluded_titles.include?(title) then
      roots.each {|i| draw_items.(i, draw_items,1)}
    else
    %>
      <%= render partial: "cosmosys/excluded_titles/" + title.gsub(" ", "_").downcase, locals: { item: item } %>
    <%
    end
  %>
</div>
<%= render partial: "cosmosys/download_report_script" %>
