<div style="width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;">
  <div style="flex: 1; flex-shrink: 0;">

    <button onClick="s = new URLSearchParams(window.location.search); s.set('chapnums','<%= flags[:chapnums] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:chapnums] ? "-Chapters" : "+Chapters" %>
    </button>

    <button onClick="s = new URLSearchParams(window.location.search); s.set('depdiag','<%= flags[:depdiag] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:depdiag] ? "-DepGraphs" : "+DepGraphs" %>
    </button>

    <button onClick="s = new URLSearchParams(window.location.search); s.set('status','<%= flags[:status] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:status] ? "-Status" : "+Status" %>
    </button>
<!--   TODO: BEGIN ---------------------------------------------------- This has to be moved to cosmosys_req!!! ----------------------------------------------------------- -->
    <button onClick="s = new URLSearchParams(window.location.search); s.set('rqtype','<%= flags[:rqtype] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:rqtype] ? "-RqType" : "+RqType" %>
    </button>

    <button onClick="s = new URLSearchParams(window.location.search); s.set('rqlevel','<%= flags[:rqlevel] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:rqlevel] ? "-RqLevel" : "+RqLevel" %>
    </button>

    <button onClick="s = new URLSearchParams(window.location.search); s.set('ration','<%= flags[:ration] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:ration] ? "-Rationale" : "+Rationale" %>
    </button>

    <button onClick="s = new URLSearchParams(window.location.search); s.set('verif','<%= flags[:verif] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:verif] ? "-Verif" : "+Verif" %>
    </button>

    <button onClick="s = new URLSearchParams(window.location.search); s.set('compl','<%= flags[:compl] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:compl] ? "-Compliance" : "+Compliance" %>
    </button>

    <button onClick="s = new URLSearchParams(window.location.search); s.set('refdoc','<%= flags[:refdoc] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:refdoc] ? "-RefDoc" : "+RefDoc" %>
    </button>

    <button onClick="s = new URLSearchParams(window.location.search); s.set('appldoc','<%= flags[:appldoc] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:appldoc] ? "-ApplDoc" : "+ApplDoc" %>
    </button>
<!--   TODO: END   ---------------------------------------------------- This has to be moved to cosmosys_req!!! ----------------------------------------------------------- -->

    <button onClick="s = new URLSearchParams(window.location.search); s.set('assigned','<%= flags[:assigned] ? "false" : "true" %>'); window.location.search = s.toString();">
      <%= flags[:assigned] ? "-Assigned" : "+Assigned" %>
    </button>

  </div>

  <div style="flex: 1; flex-shrink: 0; text-align: right;">
    <label for="format">Format:
      <select name="format">
        <option value="html">html</option>
        <option value="odt" >odt</option>
        <option value="docx" selected>docx</option>
      </select>
    </label>
    <%
      s = Setting.find_by_name("plugin_cosmosys")
      report_format = s.value["report_format"]
      report_orientation = s.value["report_orientation"]
      if (report_format == "A3") then
        if (report_orientation == "Landscape") then
          # TODO: Remove magic numbers from code
          maxWidth = 917*2
          maxHeight = 525*2
        else
          # By default, portrait
          # TODO: Remove magic numbers from code
          maxWidth = 588*2
          maxHeight = 1000*2
        end
      else
          # By default, A4
        if (report_orientation == "Landscape") then
          # TODO: Remove magic numbers from code
          maxWidth = 917
          maxHeight = 525
        else
          # By default, portrait
          # TODO: Remove magic numbers from code
          maxWidth = 588
          maxHeight = 1000
        end
      end
    %>
    <button onClick="<%= "downloadReport('#{@project.name}','#{@project.csys.code}',#{maxWidth},#{maxHeight})" %>">Download</button>
  </div>
</div>
