<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'cosmosys', :plugin => 'cosmosys' %>
	<%= stylesheet_link_tag 'cosmosys', :plugin => 'cosmosys', :media => "print" %>
<% end %>

<% 

if params[:noimages] 
	show_images = false
else
	show_images = true
end

def calculate_heading(show_chapters,i)
	if (i.csys.is_chapter?) then
		classdiv = "cSysParentIssue"
		chapstr = ""
		if show_chapters
			chapstr = i.chapter_str
		end
	else
		classdiv = "cSysIssue"
		chapstr = ""
		if show_chapters
			chapstr += i.chapter_str + " "
		end		
		chapstr += i.csys.get_identifier
	end
	if show_chapters
		chapstr += ':'
	end
	return chapstr,classdiv
end

if params[:nochapters] 
	show_chapters = false
else
	show_chapters = true
end

%>
<%
    draw_items = lambda {|item, recursion|
      chapstr, classdiv = calculate_heading(show_chapters, item)
      title = item.subject
    %>
      <div class="<%= classdiv %>">
      <h1><%= link_to chapstr, issue_path(item.id) %> <%= title %></h1>

      <div class="<%= classdiv %>descr"><%= textilizable item, :description %></div>
      <% if not(item.csys.is_chapter?) then
        imagesrc = "/cosmosys_issues/"+item.id.to_s+"/dep_gv.svg"
      %>
        <% if show_images then %>
          <p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
        <% end %>
      <% end %>
      </div>
    <%
      item.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each {|subitem| recursion.(subitem, recursion)}
    }
%>
<div class="<%= "cSysProject" %>">
<% if show_chapters %><h1><%= @project.csys.code %>: <%= @project.name %></h1><% end %>

    <%
    roots = @project.issues.select{|obj| obj.parent == nil and obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}
      if roots.size == 0 then
        roots = @project.issues.select { |n| n.parent.project != @project and n.csys.shall_draw}
      end
      roots.each { |i| draw_items.(i, draw_items) }
    %>
</div>
