<% 
if params[:includerpt] 
	show_rpt = true
else
	show_rpt = false
end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'cosmosys', :plugin => 'cosmosys' %>
    <%= stylesheet_link_tag 'treeview/index.9924afb6', :plugin => 'cosmosys' %>
<% end %>

<% if show_rpt then %>
<table style="width: 100%; border-collapse: collapse;border-spacing:0px;">
<colgroup>
	<col span="1" style="width: 30%;">
	<col span="1" style="width: 70%;">
</colgroup>
<tbody>
<tr>
<th style="background-color:#eee;text-overflow: ellipsis;border: 2px solid black;padding: 0;margin: 0px;overflow: auto;">
<div style="resize: horizontal;overflow: auto;margin: 0px;padding: 0px;display: block;border: 0px;height: 20px;min-height: 20px;min-width: 20px;">Project index</div>
</th>
<th style="border: 2px solid black;padding: 0;margin: 0px;">
<div style="margin: 0px;padding: 0px;display: block;border: 0px;height: 20px;min-height: 20px;min-width: 20px;">Document</div>
</th>
</tr>
<tr><td style="background-color:#eee;text-overflow: ellipsis;vertical-align: top;border: 2px solid black;padding: 0;margin: 0px;overflow: auto;">
<% end %>
<div id="app"></div>
<% if show_rpt then%>
</td><td>

<% 
show_images = false

def calculate_heading(show_chapters,i)
	if (i.csys.is_chapter?) then
		classdiv = "cSysParentIssue"
		chapstr = ""
		if show_chapters
			chapstr = i.chapter_str
		end
	else
		classdiv = "cSysIssue"
		chapstr = ""
		if show_chapters
			chapstr += i.chapter_str + " "
		end		
		chapstr += i.csys.get_identifier
	end
	if show_chapters
		chapstr += ':'
	end
	return chapstr,classdiv
end

if params[:nochapters] 
	show_chapters = false
else
	show_chapters = true
end

%>
<div class="<%= "cSysProject" %>">
<% if show_chapters %><h1><%= @project.csys.code %>: <%= @project.name %></h1><% end %>
<% roots = @project.issues.select{|obj| obj.parent == nil and obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}
	if roots.size == 0 then
		roots = @project.issues.select { |n| n.parent.project != @project and n.csys.shall_draw}
	end
	roots.each { |i| 
		chapstr,classdiv = calculate_heading(show_chapters,i)
	  	title = i.subject
	%>
<div class="<%= classdiv %>">
<h1><%= link_to chapstr, issue_path(i.id) %> <%= title %></h1>
<div class="<%= classdiv %>descr"><%= textilizable i, :description %></div>
<% if not(i.csys.is_chapter?) then
	imagesrc = "/cosmosys_issues/"+i.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
<% i.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each { |i2| 
	chapstr,classdiv = calculate_heading(show_chapters,i2)
	title = i2.subject

	%>
<div class="<%= classdiv %>">
<h2><%= link_to chapstr, issue_path(i2.id) %> <%= title %></h2>
<div class="<%= classdiv %>descr"><%= textilizable i2, :description %></div>
<% if not(i2.csys.is_chapter?) then 
	imagesrc = "/cosmosys_issues/"+i2.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
<% i2.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each { |i3| 
	chapstr,classdiv = calculate_heading(show_chapters,i3)
	title = i3.subject

	%>
<div class="<%= classdiv %>">
<h3><%= link_to chapstr, issue_path(i3.id) %> <%= title %></h3>
<div class="<%= classdiv %>descr"><%= textilizable i3, :description %></div>
<% if not(i3.csys.is_chapter?) then 
	imagesrc = "/cosmosys_issues/"+i3.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
<% i3.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each { |i4| 
	chapstr,classdiv = calculate_heading(show_chapters,i4)
	title = i4.subject

	%>
<div class="<%= classdiv %>">
<h4><%= link_to chapstr, issue_path(i4.id) %> <%= title %></h4>
<div class="<%= classdiv %>descr"><%= textilizable i4, :description %></div>
<% if not(i4.csys.is_chapter?) then 
	imagesrc = "/cosmosys_issues/"+i4.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
<% i4.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each { |i5| 
	chapstr,classdiv = calculate_heading(show_chapters,i5)
	title = i5.subject
	%>
<div class="<%= classdiv %>">
<h5><%= link_to chapstr, issue_path(i5.id) %> <%= title %></h5>
<div class="<%= classdiv %>descr"><%= textilizable i5, :description %></div>
<% if not(i5.csys.is_chapter?) then 
	imagesrc = "/cosmosys_issues/"+i5.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
<% i5.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each { |i6| 
	chapstr,classdiv = calculate_heading(show_chapters,i6)
	title = i6.subject
	%>
<div class="<%= classdiv %>">
<h6><%= link_to chapstr, issue_path(i6.id) %> <%= title %></h6>
<div class="<%= classdiv %>descr"><%= textilizable i6, :description %></div>
<% if not(i6.csys.is_chapter?) then 
	imagesrc = "/cosmosys_issues/"+i6.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
<% i6.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each { |i7| 
	chapstr,classdiv = calculate_heading(show_chapters,i7)
	title = i7.subject
	%>
<div class="<%= classdiv %>">
<h7><%= link_to chapstr, issue_path(i7.id) %> <%= title %></h7>
<div class="<%= classdiv %>descr"><%= textilizable i7, :description %></div>
<% if not(i7.csys.is_chapter?) then 
	imagesrc = "/cosmosys_issues/"+i7.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
<% i7.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each { |i8| 
	chapstr,classdiv = calculate_heading(show_chapters,i8)
	title = i8.subject	
	%>
<div class="<%= classdiv %>">
<h8><%= link_to chapstr, issue_path(i8.id) %> <%= title %></h8>
<div class="<%= classdiv %>descr"><%= textilizable i8, :description %></div>
<% if not(i8.csys.is_chapter?) then 
	imagesrc = "/cosmosys_issues/"+i8.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
<% i8.children.select{|obj| obj.csys.shall_draw}.sort_by{|obj| obj.chapter_order}.each { |i9| 
	chapstr,classdiv = calculate_heading(show_chapters,i9)
	title = i9.subject	
	%>
<div class="<%= classdiv %>">
<h9><%= link_to chapstr, issue_path(i9.id) %> <%= title %></h8>
<div class="<%= classdiv %>descr"><%= textilizable i9, :description %></div>
<% if not(i9.csys.is_chapter?) then 
	imagesrc = "/cosmosys_issues/"+i9.id.to_s+"/dep_gv.svg"
%>
<% if show_images then %>
<p style="text-align:right"><a href="<%= imagesrc %>" ><img src="<%= imagesrc %>" alt="Dependence diagram"></a></p>
<% end %>
<% end %>
</div>
<% } %>
</div>
<% } %>
</div>
<% } %>
</div>
<% } %>
</div>
<% } %>
</div>
<% } %>
</div>
<% } %>
</div>
<% } %>
</div>
<% } %>
</div>

</td></tr></tbody></table>
<% end %>
<script>thiskey="<%=@key%>"</script>
<script>treeviewpath="<%=@treeviewpath%>"</script>
<%= javascript_include_tag 'treeview/index.60fae44f', :plugin => 'cosmosys', :type => 'module' %>